.cc-screen {
    margin: 0 auto 0 auto;
    border: 0;
    top: 0;
    left: 0;
    opacity: 1;
    position: relative;
    background: var(--mdc-theme-background, #18191D);
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 2;
    padding-top: 60px;
    transition: opacity 0.4s var(--cc-default-curve);
  }

  .cc-screen--pt0{
    padding-top: 0 !important; 
  }
  
  @media (min-width: 600px) {
    .cc-screen {
      padding-top: 64px;
    }
  
    body {
      overflow-y: scroll;
    }
  }
  
  .cc-screen--disabled {
    display: none;
  }
  
  .cc-screen--hidden {
    opacity: 0;
  }
  
  .cc-screen--under {
    z-index: 1;
    position: fixed;
    transition: none;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cc--hidden {
    opacity: 0;
  }
  
  .cc-loading {
    display: flex;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: 10;
    visibility: hidden;
    background: black;
    justify-content: center;
    align-items: center;
    color: var(--cc-text-white, #f1f1f1);
    opacity: 0.5;
  }
  
  .cc-loading--visible {
    visibility: visible;
  }
  
  .cc-loading--hidden {
    display: none;
  }